body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'TT Mussels';
    src: local('TT Mussels Demi Bold'), local('TT-Mussels-Demi-Bold'),
        url('TTMussels-DemiBold.woff2') format('woff2'),
        url('TTMussels-DemiBold.woff') format('woff'),
        url('TTMussels-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

button {
    font-family: 'Montserrat', sans-serif;
}

.shapka {
padding: 0 40px;

}
.phone {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.phonei {
    padding-right: 2px;
}
a {
    color: #000;
    text-decoration: none;
}
 
.header-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    background-color: #e8e8ed;
}

.nav-item {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 40px;
    
}

.buttons {
    height: 81px;
   border: none;
   outline: none;
   background-color:#e8e8ed;
   border-bottom: 3px solid transparent;
}

.buttons:hover {
    border-bottom: 3px solid #000000b3;
}

.clock {
    padding-right: 2px;
}

.oclock {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.mapi {
    padding-right: 2px; 
}
.map {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center; 
    padding-bottom: 2px;  
}
.mapic:hover {
    color:rgb(207, 21, 43);
}

.container {
    display: grid;
    grid-template-rows: auto;
}

.text {
grid-auto-rows: auto;
height: 600px;
}

.text1 {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 100px; 
    margin-top: 90px;
    width: 556px;
}

li {
    margin-top: 10px;
}


.button {
    margin-top: 80px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.buton {
    padding: 15px 25px ;
    border:2px dashed #000;
    border-radius: 98px;
    transition: transform 2s;   
}
.buton:hover {
    border: 2px dashed rgb(207, 21, 43);
    color:rgb(207, 21, 43);
    animation: spin 2s linear infinite;
}


